{% extends "base.html"%}
{% block title %}Ad{% endblock %}
{% block style %}
{% load static %} 
<!--  Custom styles for this template -->
<link rel="stylesheet" href="{% static '/css/features.css' %}">   
{% endblock style %}
{% block content %}


	<div class="top-menu">
	{% if user.is_authenticated %}
		<div class="text-white rounded bg-dark container-xl portada"  style="background: cover url({{posts.img.url}});
			background-size: cover;" >
		    <div class="col-md-6 px-0 container text-center "   >
		        
			    <h2 class=" display-6 text-center  fw-bold  ">{{user.username}}</h2>
		    	<p>Bienvenido a la adminitracion de tus articulos publicados</p> 
		        <p>Aqui podras editar tus articulos publicados</p> 
			</div>
		  </div>  
			<div class="container top-menu">
			    
				<div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#">Subscribe</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Large</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>	
			</div>
		{% else %}
		<div class="top-menu">
			<p>Lo sentimos esta seccion solo puede entrar si tiene una cuenta creado </p>	
		</div>

		{% endif %}	  	
			<div class="container text-articulo">
			  <P  class="text-articulo"> {{posts.text}}</p>
			</div>
		</div>

{% endblock %}