{% extends "base.html"%}
{% block title %}blog{% endblock %}

{% block  styles %}
{% load static %} 
<!--  Custom styles for this template -->

<link rel="stylesheet" href="{% static '/blog.css' %}">

{% endblock%}

{% block content %}
{% for post in Post_Tag %}
<div class="container-blog">
  <div class="card">
    <div class="card-header">
      <img {% if post.img.url is not None %}src="{{post.img.url}}" {% endif %} alt="rover" />
    </div>
    <div class="card-body">
      {% for Categoria in post.Categorias.all %}

      <a class="" href="{% url 'categoria' Categoria.id  %}"  >
        <span class="tag tag-teal" style="background-color: pink;">{{Categoria}}</span>
      </a>
      {% endfor %}
      
      <h4>
        <a href="{% url 'articulo' post.id %}">
          {{post.titulo_principal.capitalize}}
        </a>
      </h4>
      <p>
        {{post.resumen}}
      </p>
      <div class="user">
        <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
        <div class="user-info">
          
          
          <h5><a href="{% url 'ahutor' post.author.id %}" >@{{post.author}}</a>
          </h5>
          <small>2h ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
