{% extends "base.html"%}
{% block title %}Crear nuevo post{% endblock %}
{% block style %}
{% load static %} 
<!--  Custom styles for this template -->
<link rel="stylesheet" href="{% static '/css/features.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}" /> 

<link rel="stylesheet" href="{% static '/css/prism.css' %}">   
{% endblock style %}
{% block content %}
{% load crispy_forms_tags %}
<div class="bg-light cont form-control">
	<div class=" ">
		<div class="">
			<form action="{% url 'new_post' %}" method="POST" class="form-inline">
					{% csrf_token %}
					{{form.media|safe}}
					{{form.as_p|safe}}
					
				
				{% comment %}
				 	
				  <div class="text-center m-2  ">
					<input  class="w-100 btn btn-primary" type="submit" name="" value="Guardar">
				</div>{% endcomment %}	
			</form>
		</div>
	</div>
<script src="{% static 'js/prism.js' %}"></script>
</div>

{% endblock %}

