<!DOCTYPE html> <!-- etiqueta que define la version de html que se esta utilizado
maoymente es utilizada por el html5-->
<html lang=pt"><!--html root y lenguaje base-->
<head><!--aqui se decararian todo la infomacion 
  para el explorador web y los buscadores-->
  <meta charset="UTF-8"> 
  <!-- Este elemento simplesmente especifica a 
    codificação de caracteres do documento — o 
    conjunto de caracteres que o documento está 
    autorizado a usar.  utf-8 é um conjunto de 
    caracteres universal que inclui praticamente 
    qualquer caractere de qualquer linguagem humana.
    Isso significa que sua página web poderá 
    lidar com a exibição de qualquer idioma;
    portanto, é uma boa idéia configurar isso 
    em todas as páginas web que você cria! 
    Por exemplo, sua página 
    poderia lidar com o Inglês e Japonês muito bem:

  -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- esto es muy util para generar SEO en internet-->
  <meta name="author" content="Abrhan Maigua"> 
  <meta name="descrition" content="Portafolio web personal. aqui estan
  una lista de ,is proyectos personales">
  <!-- metadatas para las redes solicales  etiquetas de Open Graph  -->
  <meta property="og:image" content="url aqui">
  <meta property="og:descrition" content="descricion aqui">
  <!-- Og: title é onde você coloca o título de seu conteúdo.-->
  <meta property="og:title" content="aqui es" >  
  <!-- Aqui estamos falando de onde você descreve o tipo 
    de conteúdo que você está compartilhando.-->
  <meta property="og:title" content="type" >
  <meta property="og:url" content="">
  <meta property="og:updated_time" content="1440432930" />
  <!--If you don't specify og:locale, it defaults
     to en_US.-->

  <meta property="og:locale" content="en_GB" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="es_ES" /> 
  <!-- tambia hay unas especificaciones para twiter-->   
  <meta name="twitter:creator" content="@nickbilton" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@nytimesbits" />

  <!-- -->

  {%load static%}
  <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"/>
  <!-- archivos externos-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <script src="https://kit.fontawesome.com/f2cbf537ed.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" >
  <!-- style -->
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
  {% block styles %}{%endblock styles %}
<title>Iniciou</title>
</head>
<body>
  <header>
        
   <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="{ url 'index' }">
          portafolio
        </a>
                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{ url 'index' }">
            Home
          </a>
                    <a class="navbar-item" href="#">
            Blog
          </a>
                    <a class="navbar-item" href="admin.html">
            Payments
          </a>
                    <a class="navbar-item" href="admin.html">
            Exceptions
          </a>
                                 <a class="navbar-item" href="admin.html">
            Reports
          </a>
                </div>

            </div>
        </div>
    
        </nav>
    {% block portada %}
    {% endblock %}


  </header>
<main>
  {% block content %}
  {% endblock content %}
</main>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</body>
</html>