<!DOCTYPE html>
<html>
<head>
  {%load static%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% block styles %}{%endblock styles %}
<title>Python Getting Started on Heroku</title>
</head>
<body>
  <header>
    <nav>
      <div class="Navbar">
        <div class="logo">
          <a href=""></a>
        </div>
        <div class="nav-area border">
          <li><a href="{% url 'contact'}">contato</a></li>
          <li><a href="{% url 'about'}">about</a></li>
          <li><a href="{% url 'Projects'}">proyectos</a></li>
          <li><a href="{% url 'home'}">inicio</a></li>

        </div>

      </div>
    </nav> 
    {% block start %}
    {% endblock start %}
    <div class="welcome-text ">
        <h1>hola, <span>Bienvenido.</span></h1>
    <a href="#">Contact US</a>

  </header>
<main>
  {% block content %}
  {% endblock content %}
</main>

<footer>
  <P class="has-text-centered">©2022-2022 Abrahan </P>
</footer>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
</body>
</html>