{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="container">
  <div class="columns features is-clipped">
   {%with ''|center:8 as range %}
        {% for _ in range %}

      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image has-text-centered">
                  <i class="fa fa-paw"></i>
              </div>
              <div class="card-content">
                  <div class="content">
                      <h4>Tristique senectus et netus et. </h4>
                      <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
                      <p><a href="#">Learn more</a></p>
                  </div>
              </div>
          </div>
      </div>
        {% endfor %}
        {% endwith %}
      </div>
    </div>
  
</section>
<section class="hero is-medium has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div data-aos="zoom-in-up" class="column is-8">
            <h1 class="title titled is-1 mb-6"><i class="fa-solid fa-block-question"></i>
              Primary bold title <span id="typewriter"></span>
            </h1>
            <h2 class="subtitle subtitled">
                <i class="fa-regular fa-user"></i>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum cupiditate dolorum vitae dolores
              nesciunt totam magni quas.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            </h2>
          </div>
        </div>

      </div>
    </div>
  </section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
  <script>
    new Typewriter('#typewriter', {
      strings: ['typewriter', 'Effect', 'typewriter.js', 'example'],
      autoStart: true,
      loop: true,
    });
  </script>
<script src="{% static 'js/edit.js'%}"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      
{% endblock %}
