*{
	margin: 0;
	padding: 0;
}

header{
	
	background:  url('img/header.jpg');
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center ;
	position: relative;
	-webkit-box-shadow: inset 0px -50px 15px 0px rgba(242,248,255,0.14), inset 0px -50px 16px -23px rgba(242,248,255,0.77); 
	box-shadow: inset 0px -50px 15px 0px rgba(242,248,255,0.14), inset 0px -50px 16px -23px rgba(242,248,255,0.77);
}
.nanvar {
	width: 1170px;
	margin: auto;
}
.nav-area li a{
	color: #fff ;
	text-decoration: none;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;	
	padding: 5px 20px;
}

.nav-area li {
	display: inline-block;
	float: right;
	list-style: none;
	padding-top: 10px;
	margin: 2px;
}

.border li a:hover {
	background: #fff;
	color: #333;

}

.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 8px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		padding-top: 15px;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
