main, .fondo{
    height: 100%;
    display: grid;
    place-items: center;
    background: #f2f2f2;
    text-align: center;
}

.blog{
    padding: 5rem;
    font-family: sans-serif ;    
}
.blog h2 {
    font-size: 1rem;
    line-height: 20px;
}

.container-blog{
   padding: 0 40px 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.card{
    height: 22rem ;
    max-width: 350px ; 
    border-radius: .9rem;
    margin: 0 20px;
    background: white;
    box-shadow:  2px 2px 14px 5px rgb(0 0 0 / 0.1 )  
}


.card:hover{
   height: 36rem ;
   box-shadow: 15px 2px 14px 5px   rgb(0 0 0 / 0.1 )
}

.card p{
    margin: .2em;
}
.card .img {
    height: 200px ;
    width: 100% ;
}

.card .img img{
    height: 100% ;
    width: 100% ;
    object-fit: cover;
}

.card .top-text { 
    padding: 3px;
    text-align: center;

}
.card .top-text p { 
    font-size: 20px;
    font-weight: 500;
    color: #e74c3c;
    line-height: 20px;  
}

.card .top-text .name{
    font-size: 20px; 
    font-weight: 600;
    color: #202020; 
}

.card .bottom-text{
    padding: 0 20px 10px 20px;
    margin-top: 70px;
    background: white;
}

.card .bottom-text{
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card:hover .bottom-text{
    opacity: 1;
    visibility: visible;
}

.card .bottom-text .text{
    text-align: justify;  
}

.card .bottom-text .btn{
    margin: 10px 0;
    text-align: right;
}

.card .bottom-text .btn a{ 
    text-decoration: none;
    color: rgb(246,246,246) ;
    background: #e74c3c;
    padding: 5px 8px;
    border-radius: 10px;
    display: inline-flex;
    transition: 0.2s;

}

.card .bottom-text .btn a:hover{
    transform: scale(0.9)
    
}

.portada{
    height: 29rem; 
    background-size: cover;
}
.text-articulo{
    padding-top: 3em
}

@media screen and (max-width: 978px) {
    .container-blog{
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .card{
        max-width: 700px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 978px) {
    .container-blog{
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .card{
        max-width: 700px;
        margin: 20px 0;
    }
}
