*{
	margin: 0;
	padding: 0;
}

.portada {
	
	background:  url('/static/img/header.jpg');
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center ;
	position: relative;
	-webkit-box-shadow: inset 0px -50px 15px 0px rgba(242,248,255,0.14), inset 0px -50px 16px -23px rgba(242,248,255,0.77); 
	box-shadow: inset 0px -50px 15px 0px rgba(242,248,255,0.14), inset 0px -50px 16px -23px rgba(242,248,255,0.77);
	-webkit-box-shadow: inset 1px -10px 4px -8px #FFFFFF, inset 0px -50px 24px -30px #FFFFFF; 
box-shadow: inset 1px -10px 4px -8px #FFFFFF, inset 0px -50px 24px -30px #FFFFFF;
}
.nanvar {
	width: 1170px;
	margin: auto;
}
.nav-area li a{
	color: #fff ;
	text-decoration: none;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;	
	padding: 5px 20px;
}

.nav-area li {
	display: inline-block;
	float: right;
	list-style: none;
	padding-top: 10px;
	margin: 2px;
}

.border li a:hover {
	background: #fff;
	color: #333;

}

.welcome-text {
	position: absolute;

	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}

/* contenido */
html,body {
  background: #EFF3F4;
}
.features {
  padding: 5rem 0;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}


.is-shady {
animation: flyintoright .4s backwards;
background: #fff;
box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
border-radius: 4px;
display: inline-block;
margin: 10px;
position: relative;
transition: all .2s ease-in-out;
}


/*adds font awesome stars*/
footer li:before {
  content: '\f1b2';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #147efb;
}


.about-me{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1486' height='611' preserveAspectRatio='none' viewBox='0 0 1486 611'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3017%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol3024' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol3024' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol3024' x='1440' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3017'%3e%3crect width='1486' height='611' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath3023'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath3021'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath3019'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath3020'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath3018'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath3022'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol3024'%3e%3cuse xlink:href='%23SvgjsPath3018' x='30' y='30' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='30' y='90' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='30' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='30' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='30' y='270' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='30' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='30' y='390' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='30' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='30' y='510' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3022' x='30' y='570' stroke='rgba(1%2c 21%2c 238%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='30' y='630' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='90' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='90' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='90' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='90' y='210' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='90' y='270' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='90' y='330' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='90' y='390' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='90' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='90' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='90' y='570' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='90' y='630' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='150' y='30' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3022' x='150' y='90' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='150' y='150' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='150' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='150' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='150' y='330' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='150' y='390' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='150' y='450' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='150' y='510' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='150' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='150' y='630' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='210' y='30' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='210' y='90' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='210' y='150' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='210' y='210' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='210' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='210' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3022' x='210' y='390' stroke='rgba(24%2c 203%2c 205%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='210' y='450' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='210' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='210' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='210' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='270' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='270' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='270' y='150' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='270' y='210' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='270' y='270' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='270' y='330' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='270' y='390' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3022' x='270' y='450' stroke='rgba(24%2c 203%2c 205%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='270' y='510' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='270' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3023' x='270' y='630' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='330' y='30' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='330' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3023' x='330' y='150' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='330' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='330' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='330' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='330' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='330' y='450' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3023' x='330' y='510' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='330' y='570' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='330' y='630' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='390' y='30' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='390' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='390' y='150' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='390' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3023' x='390' y='270' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3023' x='390' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='390' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='390' y='450' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='390' y='510' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='390' y='570' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='390' y='630' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='450' y='30' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='450' y='90' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='450' y='150' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='450' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='450' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='450' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='450' y='390' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='450' y='450' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='450' y='510' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='450' y='570' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='450' y='630' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='510' y='30' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='510' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='510' y='150' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='510' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='510' y='270' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='510' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='510' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='510' y='450' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='510' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='510' y='570' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='510' y='630' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='570' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='570' y='90' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='570' y='150' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='570' y='210' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3023' x='570' y='270' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='570' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='570' y='390' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='570' y='450' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='570' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='570' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='570' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='630' y='30' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='630' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='630' y='150' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='630' y='210' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='630' y='270' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='630' y='330' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='630' y='390' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='630' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='630' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='630' y='570' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='630' y='630' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3023' x='690' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='690' y='90' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='690' y='150' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='690' y='210' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3023' x='690' y='270' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3018' x='690' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='690' y='390' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3021' x='690' y='450' stroke='rgba(24%2c 203%2c 205%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='690' y='510' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3019' x='690' y='570' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath3020' x='690' y='630' stroke='rgba(1%2c 21%2c 238%2c 0.5)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");

}
/*resposive*/
@media (max-width:600px) {
	.welcome-text {
		width: 100%;
		height: auto;
		padding-top: 40px;
		margin: 20% 20;
	}
	.welcome-text h1 {
		font-size: 70px;
	}
}

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 8px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		padding-top: 15rem;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}

	.about-me{
	padding: 5rem ;
	padding-bottom: 10px;
	}

	.colum {
		width: 100%;
		
	}

	.container div{
		 padding:19px 8px;

	} 



	
}
.container-blog{
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
}
